<template>
  <section class="project-data">
    <h2 class="project-data__title">
      Сквер "Кокжиек"
    </h2>
    <table class="table is-fullwidth is-striped">
      <tbody>
        <tr>
          <td>Категория проекта:</td>
          <td>Внутридворовое асфальтирование</td>
        </tr>
        <tr>
          <td>Адрес реализации:</td>
          <td>Жетысуский район</td>
        </tr>
        <tr>
          <td>Стоимость проекта:</td>
          <td>15.000.000 тн</td>
        </tr>
        <tr>
          <td>Дата подачи:</td>
          <td>18.06.2019</td>
        </tr>
        <tr>
          <td>Статус:</td>
          <td>В работе</td>
        </tr>
      </tbody>
    </table>
    <h3 class="project-data-box__title">
      Вложенные файлы:
    </h3>
    <div class="columns project-data__files-wrapper">
      <div class="column is-half">
        <div class="box project-data-box is-flex">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
          <figure class="image is-64x64">
            <img src="@/assets/icons/documents.png">
          </figure>
          <p class="project-data-box__description">
            Название и описание документа
          </p>
        </div>
      </div>
      <div class="column is-half">
        <div class="box project-data-box is-flex">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
          <figure class="image is-64x64">
            <img src="@/assets/icons/documents.png">
          </figure>
          <p class="project-data-box__description">
            Название и описание документа
          </p>
        </div>
      </div>
    </div>
    <div class="columns project-data__files-wrapper">
      <div class="column is-half">
        <div class="box project-data-box is-flex">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
          <figure class="image is-64x64">
            <img src="@/assets/icons/documents.png">
          </figure>
          <p class="project-data-box__description">
            Название и описание документа
          </p>
        </div>
      </div>
    </div>
    <router-link :to="{name:'profile'}" class="button cansel__btn is-danger">Снять с рассмотрения</router-link>
    <button class="button is-info">Доработать проект</button>
  </section>  
</template>

<script>
export default {
  name: 'ProjectData'
}
</script>

<style lang="scss" scoped>
.project-data {
  color: #385a64;
}

.project-data__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.table {
  background-color: #f8fbff;
}

.project-data-box__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.project-data-box {
  position: relative;
  align-items: center;

  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #ff6b74;
  }

  p {
    margin-left: 10px;
  }
}

.cansel__btn {
  margin-right: 20px;
}
</style>
