<template>
  <section class="project-edit">
    <h2 class="project-data__title">
      Редактирование проекта
    </h2>
    <div class="project-edit__input-group">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Наименование проекта: {{ description }}</label>
              <input 
                class="input"
                type="text"
                v-model="description"
              >
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Стоимость проекта: {{ price }}</label>
              <input 
                class="input"
                type="text"
                v-model="price"
              >
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Адрес реализации: {{ address }}</label>
              <input 
                class="input"
                type="text"
                v-model="address"
              >
          </div>
        </div>
        <div class="column">
          <label class="label">Категория проекта:</label>
          <div class="select is-fullwidth">
            <select>
              <option>Внутридворовое асфальтирование</option>
              <option>Установка светофоров</option>
              <option>Установка топиарных фигур, малых архитектурых форм</option>
              <option>Строительство и ремонт тротуаров, пандусов, арыков</option>
              <option>Внутридворовое освещение</option>
              <option>Установка остановочных комплексов</option>
              <option>Установка и ремонт спортивных, детских игровых площадок на дворовых территориях и в местах общего пользования</option>
              <option>Создание и ремонт общественных пространств (парки, скверы, пешеходные зоны и др.)</option>
              <option>Установка урн для мусора, вазонов, приствольных решеток, скамеек</option>
              <option>Установка, замена и ремонт контейнерных площадок для сбора ТБО</option>
              <option>Подсветка зданий</option>
              <option>Установка уличного, паркового освещения</option>
              <option>Ремонт бордюр, брусчатки, подпорных стен</option>
            </select>
          </div>
        </div>
      </div>
    </div>  
    <h3 class="project-data-box__title">
      Вложенные файлы:
    </h3>
    <div class="project-edit__files-group">
      <div class="columns">
        <div class="column is-half">
          <div class="box project-data-box is-flex">
            <span class="icon">
              <i class="fas fa-times"></i>
            </span>
            <figure class="image is-64x64">
              <img src="@/assets/icons/documents.png">
            </figure>
            <p class="project-data-box__description">
              Название и описание документа
            </p>
          </div>
        </div>
        <div class="column is-half">
          <div class="box project-data-box is-flex">
            <span class="icon">
              <i class="fas fa-times"></i>
            </span>
            <figure class="image is-64x64">
              <img src="@/assets/icons/documents.png">
            </figure>
            <p class="project-data-box__description">
              Название и описание документа
            </p>
          </div>
        </div>
      </div>
      <div class="columns project-data__files-wrapper">
        <div class="column is-half">
          <div class="box project-data-box is-flex">
            <span class="icon">
              <i class="fas fa-times"></i>
            </span>
            <figure class="image is-64x64">
              <img src="@/assets/icons/documents.png">
            </figure>
            <p class="project-data-box__description">
              Название и описание документа
            </p>
          </div>
        </div>
      </div>
      <b-field class="file">
        <b-upload v-model="file">
          <b-button icon-left="upload" tag="a" label="Загрузить файл" type="is-info"></b-button>
        </b-upload>
        <span class="file-name" v-if="file">
          {{ file.name }}
        </span>
      </b-field>
    </div>  
    <router-link :to="{name: 'profile'}" class="button cansel__btn is-danger">Отменить изменения</router-link>
    <button class="button is-info">Сохранить изменения</button>
  </section>  
</template>

<script>
export default {
  name: 'ProjectEdit',
  data() {
    return {
      description: 'Сквер "Кокжиек"',
      price: '15.000.000',
      address: 'Жетысуский район',
      file: null
    }
  },
}
</script>

<style lang="scss" scoped>
.project-edit {
  color: #385a64;
}

.project-data__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.project-edit__input-group,
.project-edit__files-group {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #eee;
}

.label {
  color: #385a64;
}

.input {
  font-size: 16px;
  font-weight: bold;

  &::placeholder {
    color: #385a64;
  }
}

.select {
  font-weight: bold;
}

.project-data-box__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.project-data-box {
  position: relative;
  align-items: center;

  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #ff6b74;
  }

  p {
    margin-left: 10px;
  }
}

.cansel__btn {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .cansel__btn {
    margin: 0 0 20px 0;
  }
}
</style>
