<template>
  <section class="user-data">
    <h2 class="user-data__title">
      Данные пользователя
    </h2>
    <div class="user-data__form">
      <div class="columns">
        <div class="column column-left">
          <div class="field">
            <label class="label">Имя</label>
            <p class="control has-icons-right">
              <input class="input input-lock" type="text" placeholder="Имя" readonly :value="user.firstname">
              <span class="icon is-small is-right input-icon">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column column-right">
          <div class="field">
            <label class="label">Фамилия</label>
            <p class="control has-icons-right">
              <input class="input input-lock" type="text" placeholder="Фамилия" readonly :value="user.lastname">
              <span class="icon is-small is-right input-icon">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Отчество</label>
            <p class="control has-icons-right">
              <input class="input input-lock" type="text" placeholder="Отчество" readonly :value="user.patronymic">
              <span class="icon is-small is-right input-icon">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">ИИН</label>
            <p class="control has-icons-right">
              <input class="input input-lock" type="text" placeholder="ИИН" readonly :value="user.iin">
              <span class="icon is-small is-right input-icon">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Контактный телефон</label>
              <input class="input" type="text" placeholder="Телефон" v-model="form.phone">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">E-mail</label>
            <input class="input" type="text" placeholder="E-mail" v-model="form.mail">
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-half">
          <div class="field">
            <label class="label">Адрес</label>
            <input class="input" type="text" placeholder="Адрес" v-model="form.address">
          </div>
        </div>
      </div>
      <button class="button is-info" @click="saveForm">Сохранить изменения</button>
    </div>
  </section>  
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { UserRequest } from '@/services/request';

export default {
  name: 'UserData',
  data() {
    return {
      form: {
        phone: '',
        mail: '',
        address: ''
      }
    };
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser',
    }),
  },
  created() {
    if (this.user) {
      for (let key in this.form) {
        if (this.user[key]) {
          this.form[key] = this.user[key];
        }
      }
    }
  },
  methods: {
    ...mapActions({
      setUser: 'user/setUser',
    }),
    saveForm() {
      var pass = prompt('Введите пароль');
      var user = this.user;
      var uuid;
      UserRequest.authorize(this.user.mail, pass).then((response) => {
        if (response.status == 200) {
          for (let key in this.form) {
            if (user[key]) {
              user[key] = this.form[key];
            }
          }
          user.pass = pass;
          UserRequest.updateOrCreate(user).then((response) => {
            if (response.data.errorCode > 0) {
              this.errorMessage = response.data.errorMessage;
              console.error(response);
            } else if (
              response.data.userID &&
              response.data.userID.length > 0
            ) {
              user['userid'] = response.data.userID
              this.setUser(user);
              UserRequest.getExtProfileInfo(user.userid, user.mail, pass).then((response) => {
                if (response.status == 200) {
                  let result = response.data.result;
                  if (result.length > 0) {
                    uuid = result[0].dataUUID;
                    UserRequest.putExtProfileInfo(user, uuid).catch(error => {
                      console.error(error);
                    });
                  }
                }
              }).catch(error => {
                console.error(error);
              })
            }
          }).catch(e => {
            console.error(e);
          })
        }
      }).catch(error => {
        console.error(error);
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.user-data {
  padding-bottom: 50px;
  border-bottom: 2px solid #eee;
}

.user-data,
.label,
.input-icon {
  color: #385a64 !important;
}

.user-data__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.input {
  font-size: 16px;
  font-weight: bold;

  &::placeholder {
    color: #385a64;
  }
}

.input-lock {
  font-size: 16px;
  font-weight: bold;
  background-color: #eee;

  &::placeholder {
    color: #385a64;
  }
}
</style>
