<template>
  <section class="user-projects-list">
    <h2 class="user-projects-list__title">
      Мои проекты
    </h2>
    <ul class="user-projects-list__wrapper">
      <li class="user-projects-list-item" v-for="item in 2" :key="item.index">
        <box class="box user-projects-list-item__box">
          <h3 class="user-projects-list-item__title">
            Общие сведения о проекте №75824:
          </h3>
          <table class="table is-fullwidth is-striped">
            <tbody>
              <tr>
                <td>Название:</td>
                <td>Сквер "Кокжиек"</td>
              </tr>
              <tr>
                <td>Категория проекта:</td>
                <td>Внутридворовое асфальтирование</td>
              </tr>
              <tr>
                <td>Адрес реализации:</td>
                <td>Жетысуский район</td>
              </tr>
              <tr>
                <td>Стоимость проекта:</td>
                <td>15.000.000 тн</td>
              </tr>
              <tr>
                <td>Дата подачи:</td>
                <td>18.06.2019</td>
              </tr>
              <tr>
                <td>Статус:</td>
                <td>В работе</td>
              </tr>
            </tbody>
          </table>
          <router-link :to="{ name: 'project' }" class="button is-info">Подробнее</router-link>
        </box>
      </li>
    </ul>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-previous">
        <span class="icon">
          <i class="fas fa-angle-left"></i>
        </span>
      </a>
      <a class="pagination-next">
        <span class="icon">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link" aria-label="Goto page 1">1</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 45">45</a>
        </li>
        <li>
          <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 47">47</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 86">86</a>
        </li>
      </ul>
    </nav>
  </section>
</template>

<script>
export default {
  name: 'UserProjectsList'
}
</script>

<style lang="scss" scoped>
.user-password {
  padding-top: 50px;
}

.user-projects-list__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.user-projects-list-item__box {
  margin-bottom: 40px;
  padding: 40px 50px;
  color: #385a64;
}

.user-projects-list-item__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.table {
  color: #385a64;
}
</style>
