<template>
  <section class="user-password">
    <h2 class="user-password__title">
      Сменить пароль
    </h2>
    <div class="user-data__form">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Введите текущий пароль</label>
              <input class="input" type="password" placeholder="Старый пароль" v-model="form.oldPass">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Введите новый пароль</label>
            <input class="input" type="password" placeholder="Новый пароль" v-model="form.newPass">
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-half">
          <div class="field">
            <label class="label">Повторите новый пароль</label>
            <input class="input" type="password" placeholder="Новый пароль" v-model="form.newPassCheck">
          </div>
        </div>
      </div>
      <button class="button is-info" @click="saveForm" :disabled="isDisabled">Сменить пароль</button>
    </div>  
  </section>  
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { UserRequest } from '@/services/request';

export default {
  name: 'UserPassword',
  data() {
    return {
      form: {
        oldPass: '',
        newPass: '',
        newPassCheck: ''
      }
    };
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser',
    }),
    isDisabled() {
      return !(this.form.oldPass.length > 0 && this.form.newPass.length > 0 && this.form.newPass === this.form.newPassCheck);
    }
  },

  created() {
    if (this.user) {
      console.log(this.user)
      for (let key in this.form) {
        if (this.user[key]) {
          this.form[key] = this.user[key];
        }
      }
    }
  },
  methods: {
    ...mapActions({
      setUser: 'user/setUser',
    }),
    saveForm() {
      let pass = this.form.oldPass;
      UserRequest.authorize(this.user.mail, pass).then((response) => {
        if (response.status == 200) {
          let user = this.user;
          user.pass = this.form.newPass;
          UserRequest.updateOrCreate(user).then((response) => {
            if (response.data.errorCode > 0) {
              this.errorMessage = response.data.errorMessage;
              console.error(response);
            } else if (
              response.data.userID &&
              response.data.userID.length > 0
            ) {
              this.user['userid'] = response.data.userID;
              this.setUser(this.user);
            }
          }).catch(e => {
            console.error(e);
          })
        }
      }).catch(error => {
        console.error(error);
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.user-password {
  padding-top: 50px;
}

.user-password__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.label {
  color: #385a64;
}

.input {
  font-size: 16px;
  font-weight: bold;

  &::placeholder {
    color: #385a64;
  }
}
</style>
