<template>
  <footer class="footer">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-one-third">
          <div class="logo-wrapper is-flex">
            <img class="logo-icon" src="@/assets/icons/logo_2.svg" alt="Logo">
            <p class="logo-text">
              OPEN<br>BUDGET TDQ
            </p>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="contacts-wrapper is-flex">
            <span class="contacts-title">
              Контакты
            </span>
            <span class="contacts-subtitle is-flex">
              <a href="#" class="contacts-subtitle-item">+7 (728) 24 01 44</a>
              <a href="#" class="contacts-subtitle-item">info@budget-tdk.kz</a>
            </span>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="copyright-wrapper">
            <span class="copyright-text">
              © 2020 АО «Центр развития города Талдыкорган»<br>Все права защищены
            </span>
            <span class="copyright-icons is-flex">
              <a href="#"><img src="@/assets/icons/facebook.svg" alt="icon" class="copyright-icon"></a>
              <a href="#"><img src="@/assets/icons/instagram.svg" alt="icon" class="copyright-icon"></a>
            </span>
          </div>
        </div>
      </div>
    </div> 
  </footer>
</template>

<script>
export default {
  name: 'AppFooter',
}
</script>

<style lang="scss" scoped>
footer {
  padding: 1rem 1.5rem 1rem;
  background-color: #43658F;
  color: #fff;
  /* font-weight: bold; */
}

.logo-wrapper {
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.contacts-wrapper {
  flex-direction: column;
}

.logo-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.contacts-title {
  margin-bottom: 15px;
}

.contacts-subtitle {
  flex-direction: column;
}

.contacts-subtitle-item {
  color: #fff;
  /* font-weight: bold; */
}

.copyright-icons {
  margin-top: 15px;
}

.copyright-icon {
  margin-right: 10px;
}

.logo-icon {
	width: 50px;
}
</style>
