<template>
  <header class="header">
    <div class="container is-fluid is-flex">
      <div class="logo-wrapper is-flex">
        <router-link :to="{name: 'home'}">
          <img class="logo-icon" src="@/assets/icons/logo.svg" alt="Logo">
        </router-link>
        <p class="logo-text">
          OPEN<br>BUDGET TDQ
        </p>
      </div>
      <NavBar />
      <div class="header-user-box is-flex">
        <LangPicker />
        <Login />
      </div>
    </div>
  </header>
</template>

<script>
import NavBar from '@/components/layout/header/NavBar';
import LangPicker from '@/components/layout/header/LangPicker';
import Login from '@/components/layout/header/Login';

export default {
  name: 'Header',
  components: {
    NavBar,
    LangPicker, 
    Login, 
  }
}
</script>

<style lang="scss" scoped>
.header {
  padding: 15px 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.container {
  justify-content: space-between;
}

.logo-wrapper {
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.logo-icon {
  max-width: 75%;
}

.logo-text {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 5px 0 8px;
}

.header-user-box {
  flex-direction: column;
}
</style>
