<template>
  <section class="main-page">
    <div class="columns main-page-wrapper">
      <div class="column column-title">
        <div class="container is-fluid">
          <div class="main-page-title-wrapper">
            <h1 class="title">БЮДЖЕТ УЧАСТИЯ</h1>
            <h2 class="subtitle">Решай, как «Бюджет участия» изменит наш город!</h2>
          </div>
          <div class="main-page-buttons-wrapper is-flex">
            <button class="button is-info main-btn">
              <span class="icon">
                <i class="fa fa-rocket"></i>
              </span>
              <router-link :to="{name: 'project-order'}" class="main-btn-text" >Предложить проект</router-link>
            </button>
            <a href="#" class="main-link">Уже подано: {{ ordersList.length }} проектов</a>
          </div>
          <project-schedule />
        </div>
      </div>
      <div class="column is-4 column-img">
        <div class="map-container">
          <figure class="image map-image" @click="$router.push({name: 'map'})">
            <img src="@/assets/images/map.svg">
          </figure>
        </div>
      </div>
    </div>

    <section class="section project-outline">
      <div class="container is-fluid">
        <h2 class="section-title">Как предложить проект?</h2>
        <div class="columns">
          <div class="column is-one-third">
            <div class="project-outline-rule is-flex">
              <figure class="image is-64x64">
                <img src="@/assets/icons/rule_1.svg">
              </figure>
              <span class="project-outline-text">
                Ознакомиться с правилами участия
              </span>
              <a href="#" class="project-outline-link">Читать</a>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="project-outline-rule is-flex project-outline-central">
              <figure class="image is-64x64">
                <img src="@/assets/icons/rule_2.svg">
              </figure>
              <span class="project-outline-text">
                Подготовить презентацию проекта
              </span>
              <a href="#" class="project-outline-link">Советы</a>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="project-outline-rule is-flex">
              <figure class="image is-64x64">
                <img src="@/assets/icons/rule_3.svg">
              </figure>
              <span class="project-outline-text">
                Загрузить проект на сайт
              </span>
              <a href="#" class="project-outline-link">Инструкция</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section sold-projects">
      <div class="container is-fluid">
        <div class="sold-projects-title-wrapper is-flex">
          <h2 class="section-title">Подано проектов: {{ ordersList.length }}</h2>
          <a href="#" class="sold-projects-title-link">Все проекты</a>
        </div>

        <div class="columns">
          <div class="column is-one-third">
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                99
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_3.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Установка остановочных комплексов
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                7
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_5.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Подсветка зданий
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                12
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_4.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Социально значимые проекты
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                14
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_11.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Другие проекты, способствующие развитию района
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                9
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_15.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Внутрирайонная безопасность (ограничения для заезда автомобилей на общественные территории)
              </p>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                14
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_10.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Установка топиарных фигур, малых архитектурных форм
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                8
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_14.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Установка, замена и ремонт контейнерных площадок для сбора ТБО
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                4
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_7.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Установка урн для мусора, вазонов, приствольных решеток, скамеек
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                4
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_2.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Создание, ремонт – парки, скверы, пешеходные зоны, велодорожки и др.
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                7
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_9.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Установка и ремонт спортивных, детских игровых площадок на дворовых территориях и в местах общего пользования
              </p>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                14
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_1.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Строительство и ремонт тротуаров, пандусов, арыков
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                4
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_12.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Установка уличного, паркового освещения
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                12
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_13.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Установка светофоров
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                8
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_16.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Внутридворовое освещение
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                0
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_6.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Внутридворовое асфальтирование
              </p>
            </div>
            <div class="box sold-projects-tile-item">
              <div class="number-projects">
                Проектов: <br>
                0
              </div>
              <figure class="image is-64x64">
                <img src="@/assets/icons/icon_8.svg">
              </figure>
              <p class="sold-projects-tile-text">
                Ремонт бордюров, брусчатки, подпорных стен
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import ProjectSchedule from '@/components/home/ProjectSchedule';
import { mapGetters } from 'vuex';
import { OrderRequest } from '@/api';

export default {
  name: 'Home',
  components: {
    ProjectSchedule,
  },
  data() {
    return {
      ordersList: []
    }
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser'
    })
  },
  created() {
    OrderRequest.getOrdersList().then(response => {
      if (response.status === 200) {
        console.log(response)
        this.ordersList = response.data.result
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.main-page-wrapper {
  margin-top: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  max-height: 530px;
  overflow: hidden;
}

.column-title {
  padding: 35px 0 35px 20px;
  background-color: #F8FBFF;
}

.main-page-title-wrapper {
  margin-bottom: 30px;
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  color: #000;
}

.subtitle {
  font-size: 19px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #787878;
}

.main-page-buttons-wrapper {
  margin-bottom: 100px;
  align-items: center;
}

.main-btn {
  width: 245px;
  height: 55px;
  color: #fff;
  font-size: 16px;
  background-color: #6995C8;
  border: 3px solid;
  border-color: #0077b5 !important;
  border-radius: 30px;
}

.main-btn-text {
  margin: 0 0 5px 5px;
  font-family: 'Exo 2', sans-serif;
  /* font-weight: bold; */
  color: #fff;
}

.main-link {
  margin-left: 20px;
  /* font-weight: bold; */
  font-size: 14px;
  text-decoration-line: underline;
  color: #848484;
}

.column-img {
  padding: 0;
}

.map-container {
  height: 100%;
  position: relative;
}

.map-image {
  height: 100%;
  border-left: 4px solid #43658F;
  width: 85%;
}

.project-outline-rule {
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin-bottom: 30px;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 46px;
  color: #000;
}

.project-outline-text {
  margin: 20px 0 10px 0;
  display: block;
  width: 250px;
  text-align: center;
  font-size: 18px;
  line-height: 29px;
}

.project-outline-link {
  font-size: 16px;
  text-align: center;
  /* font-weight: bold; */
  text-decoration: underline;
}

.project-outline-central {
  position: relative;

  &::before {
    content: '';
      background-image: url(/assets/icons/arrow.svg);
      background-repeat: no-repeat;
      width: 170px;
      height: 20px;
      display: block;
      position: absolute;
      left: -6rem;
      top: 30px;
    }

  &::after {
    content: '';
      background-image: url(/assets/icons/arrow.svg);
      background-repeat: no-repeat;
      width: 170px;
      height: 20px;
      display: block;
      position: absolute;
      right: -6rem;
      top: 30px;
    }
}

.sold-projects {
  padding-top: 25px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #F8FBFF;
}

.sold-projects-title-wrapper {
  margin-bottom: 30px;
  align-items: center;
  .section-title {
    margin: 0;
  }
}

.sold-projects-title-link {
  margin-left: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-decoration-line: underline;
  color: #848484;
}

.sold-projects-tile-item {
  position: relative;
}

.number-projects {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #9F9F9F;
}

.box {
  padding: 0.85rem;
}

.sold-projects-tile-text {
  margin-top: 0px;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

.box .sold-projects-tile-text {
	margin: 0;
}

.box:not(:last-child) {
  margin-bottom: 1rem;
}

.section {
	padding: 1rem 1.5rem;
}
</style>
