<template>
    <div class="">
        <!--        <pre>{{myList}}</pre>-->
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="argo" style="height: 500px" v-if="mapAllow">
                        <l-map :zoom="zoom" :center="center">
                            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
                            <l-marker v-for="(item, index) in markerList"
                                      :lat-lng="item.marker"
                                      :icon="item.icon"
                                      :key="index">
                                <l-popup>
                                    <p><strong>Наименование проекта:</strong>{{item.fields.name}}</p>
                                    <p><strong>Категория:</strong>{{item.fields.kategori}}</p>
                                    <p><strong>Краткое описание проекта:</strong>{{item.fields.opisanie}}</p>
                                    <p><strong>Адрес:</strong>{{item.fields.adress}}</p>
                                    <p><strong>ФИО:</strong>{{item.fields.fio}}</p>
                                    <p><strong>Стоимость проекта:</strong>{{item.fields.summa}}</p>
                                </l-popup>
                            </l-marker>
                        </l-map>
                    </div>
                    <div class="" v-else>
                        <h1>Выберите категорию</h1>
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group list-group-flush list-category">
                        <li class="list-group-item available" @click="showAll()">Все</li>
                        <li v-for="(item, index) in listCategory"
                            :key="index"
                            class="list-group-item"
                            :class="{'available': item.recordsCount}"
                            @click="setCategory(item, index)">
                            {{item.dictValue}}
                        </li>
                    </ul>
                </div>
            </div>




        </div>
    </div>
</template>

<script>
    import { LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet'
    import jQuery from 'jquery';
    const self = this;

    export default {
        name: 'MyAwesomeMap',
        components: {
            LMap,
            LTileLayer,
            LMarker,
            LPopup
        },
        data () {
            return {
                map: null,
                zoom: 16,
                center: L.latLng(0, 0),
                url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                attribution: 'Nurmukhammed',
                listCategory: null,
                markerList: [],
                tempList: null,
                mapAllow: false,
                images: [13,10,1,6,16,3,9,2,7,14,5,12,0,8,15],
                myResponse: null
            }
        },

        mounted () {


        },

        methods: {

            showAll () {
                this.markerList = [];
                this.tempList = this.listCategory;

                let centerX = 0, centerY = 0;

                this.tempList.forEach((item, index) => {
                    item.result.forEach((myResult, myIndex) => {
                        if ((parseInt(myResult.fieldValue.dolgota)) > 0 &&
                            (parseInt(myResult.fieldValue.shirota)) > 0) {
                            this.markerList.push(
                                {
                                    fields: myResult.fieldValue,
                                    marker: L.latLng(myResult.fieldValue.dolgota, myResult.fieldValue.shirota),
                                    icon: L.icon({
                                        iconUrl: require("../assets/icons/icon_" + this.images[index] +".svg"),
                                        iconSize:     [38, 38],
                                        shadowSize:   [50, 64],
                                        iconAnchor:   [22, 38],
                                        shadowAnchor: [4, 62],
                                        popupAnchor:  [-3, -38]
                                    })
                                }
                            );
                            centerX += parseFloat(myResult.fieldValue.shirota);
                            centerY += parseFloat(myResult.fieldValue.dolgota);
                        }
                    });

                });

                this.center = L.latLng(centerY / this.markerList.length, centerX / this.markerList.length);
                this.zoom = 13;
                this.mapAllow = true

            },

            setCategory (item, myIndex) {
                this.markerList = [];
                this.tempList = item.result;

                let centerX = 0, centerY = 0;

                this.tempList.forEach((item, index) => {
                    this.markerList.push(
                        {
                            fields: item.fieldValue,
                            marker: L.latLng(item.fieldValue.dolgota, item.fieldValue.shirota),
                            icon: L.icon({
                                iconUrl: require("../assets/icons/icon_" + this.images[myIndex] +".svg"),
                                iconSize:     [38, 38],
                                shadowSize:   [50, 64],
                                iconAnchor:   [22, 38],
                                shadowAnchor: [4, 62],
                                popupAnchor:  [-3, -38]
                            })
                        }
                    );
                    centerX += item.fieldValue.shirota;
                    centerY += item.fieldValue.dolgota;
                })

                this.center = L.latLng(centerY, centerX);

                this.mapAllow = true

            }

        },

        created () {

            const self  = this;

            const auth = `Basic ${btoa('Administrator:0610qweasd')}`;
            const host = 'http://budget-tdk.kz/Synergy';

            const getDictionaryList = async (dictCode) => {
                try {
                    // const url = window.location.origin + `/Synergyrest/api/dictionary/get_by_code?dictionaryCode=kategoriya_`;
                    const url = host + `/rest/api/dictionary/get_by_code?dictionaryCode=` + dictCode;
                    return await jQuery.ajax({
                        url,
                        beforeSend: xhr => xhr.setRequestHeader("Authorization", auth),
                        dataType: 'json'
                    });
                } catch (e) {
                console.error(e);
                    return e.message;
                }
            };

            const getDictionaryData = async (registryCode, dictKey, dictValue) => {
                return new Promise(async function (resolve) {
                    try {
                        try {
                            let hostUrl = host + `/rest/api/registry/data_ext?`;
                            let url = [];
                            url.push(`registryCode=${registryCode}`);
                            url.push('fields=name');
                            url.push('fields=kategori');
                            url.push('fields=opisanie');
                            url.push('fields=Adress');
                            url.push('fields=fio');
                            url.push('fields=summa');
                            url.push('fields=dolgota');
                            url.push('fields=shirota');
                            //url.push('registryRecordStatus=STATE_SUCCESSFUL');
                            url.push('field=kategori');
                            url.push('condition=EQUALS');
                            url.push(`key=${dictKey}`);
                            hostUrl = hostUrl + url.join('&');

                            jQuery.ajax({
                                "url": hostUrl,
                                "method": "GET",
                                "timeout": 0,
                                "headers": {
                                    "Authorization": auth
                                },
                            }).done(function (response) {
                                response.dictValue = dictValue;
                                resolve(response);
                            });

                        } catch (e) {
                            resolve([]);
                            console.error(e);
                        }
                    } catch (e) {
                        console.error(e);
                    }
                });
            };

            async function start() {
                const response = await getDictionaryList('kategoriya_');
                //console.log(response);
                const dictData = []; // отформатированный справочник
                if (response && response.items && response.items.length) {
                    //console.log("entered");
                    for (let i = 0; i < response.items.length; i++) {
                        let obj = {code: '', value: ''};
                        if (response.items[i].values && response.items[i].values[0] && response.items[i].values[1]) {
                          obj.code = response.items[i].values[0].value;
                            obj.value = response.items[i].values[1].value;
                        }
                        dictData.push(obj);
                    }
                }
                const promiseArr = [];
                for (const dictObj of dictData) {
                    if (dictObj.code) {
                        promiseArr.push(
                            getDictionaryData('podacha_zayavki', dictObj.code, dictObj.value) // запрос на получение данных определенной категории
                        );
                    }
                }

                // self.listCategory = dictData
                console.log(dictData);

                Promise.all(promiseArr)
                    .then(arrOfResults => {
                        self.listCategory = arrOfResults
                    })
                    .catch(err => {
                        console.error(err);
                    });
            }

            start();

        }
    };

</script>

<style lang="sass" scoped>
    .map
        height: 500px
    .list-category
        height: 500px
        overflow-y: auto
        li
            opacity: .5
            cursor: not-allowed
            pointer-events: none
            &.available
                opacity: 1
                cursor: pointer
                pointer-events: auto
    p
        margin-bottom: 0
    .leaflet-popup-content
        margin: 15px 5px 5px 5px !important
        width: 200px !important
        p
            margin: 5px 0 !important

</style>

