<template>
  <section class="profile">
    <div class="container is-fluid">
      <h1 class="profile__title">
        Личный кабинет
      </h1>
      <div class="columns">
        <div class="column is-half column-left">
          <UserData />
          <UserPassword />
        </div>
        <div class="column is-half column-right">
          <UserProjectsList />
        </div>
      </div>
    </div>
  </section>  
</template>

<script>
import UserData from '@/components/profile/UserData';
import UserPassword from '@/components/profile/UserPassword';
import UserProjectsList from '@/components/profile/UserProjectsList';

export default {
  name: 'Profile',
  components: {
    "UserData": UserData,
    "UserPassword": UserPassword,
    "UserProjectsList": UserProjectsList
  }
}
</script>

<style lang="scss" scoped>
.profile {
  padding: 50px 0;
  background-color: #f8fbff;
  color: #385a64;
}

.profile__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.column-right {
  padding-left: 70px;
}

@media screen and (max-width: 768px) {
  .column-right {
    padding: 0.75rem;
  }
}
</style>
