<template>
  <section class="project-order">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-half column-left">
          <h1 class="project-order__title">
            Подача заявки
          </h1>
          <h2 class="project-order__subtitle">
            Что бы предложить проект, заполните все поля формы
          </h2>
          <div class="project-order__input-group">
            <div class="field">
              <label class="label">Выберите категорию проекта:</label>
              <div class="select is-fullwidth">
                <select v-model="project_category">
                  <option>Внутридворовое асфальтирование</option>
                  <option>Установка светофоров</option>
                  <option>Установка топиарных фигур, малых архитектурых форм</option>
                  <option>Строительство и ремонт тротуаров, пандусов, арыков</option>
                  <option>Внутридворовое освещение</option>
                  <option>Установка остановочных комплексов</option>
                  <option>Установка и ремонт спортивных, детских игровых площадок на дворовых территориях и в местах общего пользования</option>
                  <option>Создание и ремонт общественных пространств (парки, скверы, пешеходные зоны и др.)</option>
                  <option>Установка урн для мусора, вазонов, приствольных решеток, скамеек</option>
                  <option>Установка, замена и ремонт контейнерных площадок для сбора ТБО</option>
                  <option>Подсветка зданий</option>
                  <option>Установка уличного, паркового освещения</option>
                  <option>Ремонт бордюр, брусчатки, подпорных стен</option>
                </select>
              </div>
            </div>  
            <div class="field">
              <label class="label">Укажите наименование проекта:</label>
                <input 
                  v-model="project_name"
                  class="input"
                  type="text"
                  placeholder="Введите название проекта"
                >
            </div>
            <div class="field">
              <label class="label">Укажите адрес реализации:</label>
                <input 
                  v-model="project_address_realization"
                  class="input"
                  type="text"
                  placeholder="Введите адрес проекта"
                >
            </div>
            <div class="field">
              <label class="label">Укажите стоимость проекта (тнг):</label>
                <input 
                  @change="formatProjectCost"
                  v-model="project_cost"
                  class="input"
                  type="text"
                  placeholder="Введите стоимость проекта"
                >
            </div>
            <div class="field">
              <label class="label">Введите описание проекта:</label>
              <textarea class="textarea" placeholder="Описание проекта" v-model="project_description"></textarea>
            </div>
            <div class="tags">
              <span class="file-name file-name-custom" v-for="(file, index) in project_files" :key="'file_' + index">
                {{ file.name }}
                <button class="delete is-small file-remove" type="button" @click="deleteFile(index)"></button>
              </span>
            </div>
            <div class="field" v-if="project_files.length < 10">
              <label class="label">Прикрепить файл:</label>
              <b-field class="file">
                <b-upload v-model="project_files" multiple>
                  <b-button icon-left="upload" tag="a" label="Загрузить файл" type="is-info"></b-button>
                </b-upload>
              </b-field>
            </div>
          </div>
          <button class="button cansel__btn is-danger" @click="$router.push({ name: 'home'})">Отменить</button>
          <button class="button is-info" @click="createNewOrder">Отправить заявку</button>
        </div>
        <div class="column is-half column-right">
          <div class="wrapper">
            <p class="project-page__description">
              На этой странице вы можете подать проектное предложение, для этого заполните форму на странице, Ваше предложение будет зарегистрировано и направлено на оценку Экспертному совету
            </p>
            <img
              class="user-registration-frame"
              src="@/assets/images/frame.png"
              alt="frame"
            />
          </div> 
        </div>
      </div>
    </div>
    <div class="project-order-modal" v-if="showModal || isLoading">
      <div class="box" v-if="isLoading">
        <p>
          Подождите
        </p>
        <button class="button is-loading is-text"></button>
      </div>
      <div class="box" v-else-if="isError">
        <p>
          Извините, произошла непредвиденая ошибка, сообщите об этом администратору.
        </p>
        <button class="button is-info" @click="showModal = false; isLoading = false">OK</button>
      </div>
      <div class="box" v-else>
        <p>
          «Ваше проектное предложение зарегистрировано по номеру № {{ registeredNumber }} и направлено на оценку Экспертному совету»
        </p>
        <button class="button is-info" @click="$router.push({ name: 'home'})">OK</button>
      </div>
    </div>
  </section>  
</template>

<script>
import { OrderRequest } from '@/api';
import { mapGetters } from 'vuex';
import _ from 'lodash';

export default {
  name: 'ProjectOrder',
  data() {
    return {
      project_category: null,
      project_name: null,
      project_address_realization: null,
      project_cost: null,
      project_description: null,
      project_files: [],
      formsData: null,
      uuid: null,
      showModal: false,
      registeredNumber: 0,
      isLoading: false
    };
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser'
    })
  },
  methods: {
    createNewOrder() {
      this.isLoading = true;
      this.showModal = true;
      OrderRequest.createEmptyOrder().then(response => {
        if (response.status === 200) {
          this.uuid = response.data.dataUUID;
          OrderRequest.getFormDataFormat(this.uuid).then(response => {
            if (response.status === 200) {
              this.formsData = response.data[0];
              let category = _.find(this.formsData.data, { id: 'kategori' });
              let name = _.find(this.formsData.data, { id: 'name' });
              let address_realization = _.find(this.formsData.data, { id: 'adress' });
              let cost = _.find(this.formsData.data, { id: 'summa' });
              let description = _.find(this.formsData.data, { id: 'opisanie' });
              let status = _.find(this.formsData.data, { id: 'status' });
              let iin = _.find(this.formsData.data, { id: 'IIN' });
              let fio = _.find(this.formsData.data, { id: 'fio' });

              category.value = this.project_category;
              name.value = this.project_name;
              address_realization.value = this.project_address_realization;
              cost.value = this.project_cost;
              description.value = this.project_description;
              fio.value = this.user.firstname + ' ' + this.user.lastname + ' ' + this.user.patronymic;
              iin.value = this.user.iin;

              let files_table = _.find(this.formsData.data, { type: 'appendable_table' });
              files_table.data = [];

              this.project_files.forEach((file, index) => {
                OrderRequest.saveFile(this.formsData.uuid, this.formsData.nodeUUID, file).then(response => {
                  if (response.status === 200) {
                    let fileId = response.data;

                    OrderRequest.getFileDescription(fileId).then(response => {
                      if (response.status === 200) {
                        let _file = response.data;
                        files_table.data.push({ type: 'textbox', id: 'name_file-b' + (index + 1) });
                        files_table.data.push({ type: 'file', id: 'file-b' + (index + 1), value: _file.name, key: _file.identifier });
                      }
                    });
                  }
                });
              });
              let intervalId = setInterval(() => {
                if (files_table.data.length === this.project_files.length * 2) {
                  OrderRequest.saveForm(this.formsData.data, this.uuid).then(response => {
                    if (response.status === 200) {
                      OrderRequest.activateForm(this.uuid);
                      this.registeredNumber = response.data.uuid;
                      this.isLoading = false;
                    }
                  });
                  clearInterval(intervalId);
                }
              }, 100)
            }
          });
        }
      }).catch(error => {
        console.error(error);
        this.isLoading = false
        this.isError = true
      })
      
    },
    formatProjectCost() {
      let x = parseInt(this.project_cost.replace(/\s+/g, ''));
      if (!isNaN(x)) {
        let asArray = x.toString().split(''),
          _asArray = [];
        _.forEachRight(asArray, (v, k) => {
          _asArray.push(v);
          if ((asArray.length - k) % 3 === 0) {
            _asArray.push(' ');
          }
        });
        asArray = [];
      _.forEachRight(_asArray, v => {
        asArray.push(v);
      })
      this.project_cost = asArray.join('');
      } else {
        this.project_cost = 0;
      }
    },
    deleteFile(index) {
      this.project_files.splice(index, 1);
    }
  }
}
</script>

<style lang="scss" scoped>
.project-order {
  position: relative;
  padding: 50px 0;
  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-color: #f8fbff;
  color: #385a64;
}

.project-order__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.project-order__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.label {
  color: #385a64;
}

.field {
  margin-bottom: 40px !important;
}

.input,
.textarea {
  font-size: 16px;
  /* font-weight: bold; */

  &::placeholder {
    color: #385a64;
  }
}

.select {
  select {
    color: #385a64;
  }
}

.project-order__input-group {
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

.file-name.file-name-custom {
  position: relative;
  border-width: 1px;
  margin: 5px;
  .file-remove {
    top: 30%;
    right: 10px;
    position: absolute;
  }
}

.cansel__btn {
  margin-right: 20px;
}

.column-right {
  padding-left: 70px;
}

.project-page__description {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.project-order-modal {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #385a64;
  font-weight: bold;
  text-align: center;
  z-index: 10;

  .box  {
    padding: 40px 50px;
  }

  .button {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .cansel__btn {
    margin: 0 0 20px 0;
  }

  .column-right {
    padding: 0.75rem;
  }
}
</style>
