<template>
  <section class="projects">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-one-fifth column-left">
          <h1 class="title">
            Проекты от граждан
          </h1>
          <aside class="sidebar">
            <section class="sidebar-range-container">
              <b-field>
                <b-slider
                  class="sidebar-range-input"
                  v-model="numbers2"
                  type="is-linkedin is-small"
                  :min="0"
                  :max="500"
                  :step="1"
                  :tooltip="false"
                />
              </b-field>
              <b-field>
                <b-input 
                  class="sidebar-range-input"
                  v-model="value" type="number" 
                />
              </b-field>
            </section>
            <ul class="services-list">
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_3.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Установка остановочных комплексов
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_5.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Подсветка зданий
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_4.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Социально значимые проекты
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_11.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Другие проекты, способствующие...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_10.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Установка топиарных фигур, малых...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_14.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Установка, замена и ремонт контейне...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_7.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Установка урн для мусора, вазонов...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_1.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Строительство и ремонт тротуаров,...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_12.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Установка уличного, паркового...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_13.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Установка светофоров
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_16.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Внутридворовое освещение
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_6.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Внутридворовое асфальтирование
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_15.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Внутрирайонная безопасность (ограни...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_2.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Создание, ремонт, благоустройство...
                </span>
              </li>
              <li class="services-list-item is-flex">
                <figure class="image is-24x24">
                  <img src="@/assets/icons/icon_9.svg" alt="icon" class="services-list-img">
                </figure>
                <span class="services-list-description">
                  Установка и ремонт спортивных, дет...
                </span>
              </li>
            </ul>
          </aside>
        </div>

        <div class="column column-right">
          <ul class="project-list is-flex">
            <li class="project-list-item is-flex">
              <span class="icon project-list-star-icon">
                <i class="fas fa-star"></i>
              </span>
              <figure class="image project-list-item-img">
                <img src="@/assets/images/foto.jpg">
              </figure>
              <div class="project-list-wrapper">
                <span class="project-list-title">Сквер "Кокжиек"</span>
                <p class="project-list-description">
                  Предлагаем организовать вблизи мкр.Кожиек сквер. Т.к. экология района под угрозой, необходимо озеленение. К тому же негде даже прогуляться. Имеется алея внутри микрорайона 500 м., но на ней отсутствуют даже скамейки. Предлагаем либо организовать хотя бы скамейки либо создать сквер (имеется огромная территория...
                </p>
                <div class="project-list-tags is-flex">
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag1.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      15 млн
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag2.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Цой Регина Валерьевна
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag3.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Жетысуский район
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag4.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Внутридворовое асфальтирование
                    </span>
                  </span>
                </div>
              </div> 
            </li>
            <li class="project-list-item is-flex">
              <span class="icon project-list-star-icon">
                <i class="fas fa-star"></i>
              </span>
              <figure class="image project-list-item-img">
                <img src="@/assets/images/foto.jpg">
              </figure>
              <div class="project-list-wrapper">
                <span class="project-list-title">Спорттық және балалар алаңы</span>
                <p class="project-list-description">
                  Предлагаем организовать вблизи мкр.Кожиек сквер. Т.к. экология района под угрозой, необходимо озеленение. К тому же негде даже прогуляться. Имеется алея внутри микрорайона 500 м., но на ней отсутствуют даже скамейки. Предлагаем либо организовать хотя бы скамейки либо создать сквер (имеется огромная территория...
                </p>
                <div class="project-list-tags is-flex">
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag1.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      15 млн
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag2.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Цой Регина Валерьевна
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag3.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Жетысуский район
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag4.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Внутридворовое асфальтирование
                    </span>
                  </span>
                </div>
              </div> 
            </li>
            <li class="project-list-item is-flex">
              <span class="icon project-list-star-icon">
                <i class="fas fa-star star-gray"></i>
              </span>
              <figure class="image project-list-item-img">
                <img src="@/assets/images/foto.jpg">
              </figure>
              <div class="project-list-wrapper">
                <span class="project-list-title">Датчик движения для освещения во всех "темных" местах города Алматы</span>
                <p class="project-list-description">
                  Предлагаем организовать вблизи мкр.Кожиек сквер. Т.к. экология района под угрозой, необходимо озеленение. К тому же негде даже прогуляться. Имеется алея внутри микрорайона 500 м., но на ней отсутствуют даже скамейки. Предлагаем либо организовать хотя бы скамейки либо создать сквер (имеется огромная территория...
                </p>
                <div class="project-list-tags is-flex">
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag1.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      15 млн
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag2.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Цой Регина Валерьевна
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag3.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Жетысуский район
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag4.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Внутридворовое асфальтирование
                    </span>
                  </span>
                </div>
              </div> 
            </li>
            <li class="project-list-item is-flex">
              <span class="icon project-list-star-icon">
                <i class="fas fa-star"></i>
              </span>
              <figure class="image project-list-item-img">
                <img src="@/assets/images/foto.jpg">
              </figure>
              <div class="project-list-wrapper">
                <span class="project-list-title">Установка шумопоглащающих ограждений</span>
                <p class="project-list-description">
                  Предлагаем организовать вблизи мкр.Кожиек сквер. Т.к. экология района под угрозой, необходимо озеленение. К тому же негде даже прогуляться. Имеется алея внутри микрорайона 500 м., но на ней отсутствуют даже скамейки. Предлагаем либо организовать хотя бы скамейки либо создать сквер (имеется огромная территория...
                </p>
                <div class="project-list-tags is-flex">
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag1.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      15 млн
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag2.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Цой Регина Валерьевна
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag3.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Жетысуский район
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag4.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Внутридворовое асфальтирование
                    </span>
                  </span>
                </div>
              </div> 
            </li>
            <li class="project-list-item is-flex">
              <span class="icon project-list-star-icon">
                <i class="fas fa-star"></i>
              </span>
              <figure class="image project-list-item-img">
                <img src="@/assets/images/foto.jpg">
              </figure>
              <div class="project-list-wrapper">
                <span class="project-list-title">Сквер "Кокжиек"</span>
                <p class="project-list-description">
                  Предлагаем организовать вблизи мкр.Кожиек сквер. Т.к. экология района под угрозой, необходимо озеленение. К тому же негде даже прогуляться. Имеется алея внутри микрорайона 500 м., но на ней отсутствуют даже скамейки. Предлагаем либо организовать хотя бы скамейки либо создать сквер (имеется огромная территория...
                </p>
                <div class="project-list-tags is-flex">
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag1.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      15 млн
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag2.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Цой Регина Валерьевна
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag3.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Жетысуский район
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag4.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Внутридворовое асфальтирование
                    </span>
                  </span>
                </div>
              </div> 
            </li>
            <li class="project-list-item is-flex">
              <span class="icon project-list-star-icon">
                <i class="fas fa-star"></i>
              </span>
              <figure class="image project-list-item-img">
                <img src="@/assets/images/foto.jpg">
              </figure>
              <div class="project-list-wrapper">
                <span class="project-list-title">Сквер "Кокжиек"</span>
                <p class="project-list-description">
                  Предлагаем организовать вблизи мкр.Кожиек сквер. Т.к. экология района под угрозой, необходимо озеленение. К тому же негде даже прогуляться. Имеется алея внутри микрорайона 500 м., но на ней отсутствуют даже скамейки. Предлагаем либо организовать хотя бы скамейки либо создать сквер (имеется огромная территория...
                </p>
                <div class="project-list-tags is-flex">
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag1.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      15 млн
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag2.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Цой Регина Валерьевна
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag3.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Жетысуский район
                    </span>
                  </span>
                  <span class="project-list-tag is-flex">
                    <figure class="image is-16x16">
                      <img src="@/assets/icons/project-tag4.svg">
                    </figure>
                    <span class="project-list-tag-inscription">
                      Внутридворовое асфальтирование
                    </span>
                  </span>
                </div>
              </div> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Projects',
  data() {
    return {
      numbers2: [2, 250],
      value: 200,
    }
  },
}
</script>

<style lang="scss" scoped>
.projects {
  padding: 50px 0;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-color: #F8FBFF;
}

.title {
  margin-bottom: 50px;
  text-align: left;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.sidebar-range-container {
  margin-bottom: 50px;
}

.sidebar-range-input {
  margin: 40px 0 30px 0;
  max-width: 300px;
}

.services-list {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.services-list-item {
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.services-list-description {
  margin-left: 12px;
}

.project-list {
  flex-direction: column;
}

.project-list-item {
  position: relative;
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.project-list-star-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 33px;
  height: 33px;
  background-color: #F8FBFF;
  color: #0084FF;
  cursor: pointer;
}

.star-gray {
  color: #CFCFCF;
}

.project-list-item-img {
  margin-right: 25px;
  min-width: 142px;
  min-height: 142px;
}

.project-list-title {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.project-list-description {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #6B7077;
}

.project-list-tags {
  margin-top: 15px;
  padding-top: 12px;
  border-top: 1px solid #EEEEEE;
}

.project-list-tag {
  margin-right: 20px;
  align-items: center;
}

.project-list-tag-inscription {
  margin-left: 12px;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
}
</style>
