<template>
  <section class="project-page">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-half column-left">
          <h1 class="project-page-title">
            <div class="project-page-title-link">
              <span class="icon">
                <i class="fas fa-angle-left"></i>
              </span>
              <router-link :to="{name:'profile'}">Назад к профилю</router-link>
            </div>
            Проект №75824
          </h1>
          <!-- <ProjectData /> -->
          <ProjectEdit />
        </div>
        <div class="column is-half column-right">
          <div class="wrapper">
            <p class="project-page__description">
              На этой странице вы можете посмотреть подробные сведения о проекте, а так же доработать его, или снять с рассмотрения (данное поле доступно только при статусе проекта «На доработке»)
            </p>
            <img
              class="user-registration-frame"
              src="@/assets/images/frame.png"
              alt="frame"
            />
          </div>  
        </div>
      </div>
    </div>
  </section>  
</template>

<script>
import ProjectData from '@/components/project/ProjectData';
import ProjectEdit from '@/components/project/ProjectEdit';

export default {
  name: 'ProjectPage',
  components: {
    "ProjectData": ProjectData,
    "ProjectEdit": ProjectEdit,
  }
}
</script>

<style lang="scss" scoped>
.project-page {
  padding: 65px 0 50px;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-color: #f8fbff;
  color: #385a64;
}

.project-page-title {
  position: relative;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.project-page-title-link {
  position: absolute;
  left: 0;
  top: -40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #3273dc;
}

.project-page-subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.project-page__description {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.column-right {
  padding-left: 70px;
}

@media screen and (max-width: 768px) {
  .column-right {
    padding: 0.75rem;
  }
}
</style>
