<template>
  <section class="user-registration">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-half">
          <div class="columns">
            <div class="column">
              <button class="button is-info" :class="{'is-outlined': showForm === 1}" @click.prevent="showForm = 0">Регистрация</button>
            </div>
            <div class="column">
              <button class="button is-info" :class="{'is-outlined': showForm === 0}" @click.prevent="showForm = 1">Авторизация</button>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">

        <!-- форма регистрации -->
        <div class="column column-left is-half" v-if="showForm == 0">
          <h1 class="title">
            Регистрация пользователя
          </h1>
          <form action="#" class="user-registration-form">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Фамилия</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Введите фамилию"
                      v-model="form.lastname"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Имя</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Введите Имя"
                      v-model="form.firstname"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Отчество</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Введите отчество"
                      v-model="form.patronymic"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">ИИН</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Введите ИИН"
                      v-model="form.iin"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Придумайте пароль</label>
                  <div class="control">
                    <input
                      class="input"
                      type="password"
                      placeholder="Введите пароль"
                      v-model="form.pass"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Повторите пароль</label>
                  <div class="control">
                    <input
                      class="input"
                      type="password"
                      placeholder="Повторите пароль"
                      v-model="form.passCheck"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label additional-margin">
                Адрес электронной почты
              </label>
              <div class="control">
                <input
                  class="input"
                  type="email"
                  placeholder="Введите Адрес электронной почты"
                  v-model="form.mail"
                />
              </div>
            </div>

            <div class="field">
              <label class="label additional-margin">
                Номер мобильного телефона
              </label>
              <div class="control">
                <input
                  class="input"
                  type="tel"
                  placeholder="Введите номер мобильного телефона"
                  v-model="form.phone"
                />
              </div>
            </div>
            <div class="field has-addons has-addons-right" >
              <div class="control">
                <button class="button is-danger" @click.prevent="register" :disabled="!(pass === passCheck)">
                  Зарегистрироваться
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- форма авторизации -->
        <div class="column column-left is-half" v-if="showForm == 1">
          <h1 class="title">
            Авторизация пользователя
          </h1>
          <form action="#" class="user-registration-form">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label additional-margin">
                    Адрес электронной почты
                  </label>
                  <div class="control">
                    <input
                      class="input"
                      type="email"
                      placeholder="Введите Адрес электронной почты"
                      v-model="form.mail"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Введите пароль</label>
                  <div class="control">
                    <input
                      class="input"
                      type="password"
                      placeholder="Введите пароль"
                      v-model="form.pass"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="field has-addons has-addons-right">
              <div class="control">
                <button class="button is-danger" @click.prevent="authorize">
                  Авторизоваться
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="column column-right is-half">
          <p class="user-registration-description">
            Любой желающий сможет подать идею для улучшения города. Если
            инициатива будет поддержана другими жителями в процессе голосования,
            ее реализуют за счет городского бюджета.
          </p>
          <img
            class="user-registration-frame"
            src="@/assets/images/frame.png"
            alt="frame"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { UserRequest } from '@/services/request'

export default {
  name: 'UserRegistration',
  data() {
    return {
      form: {
        lastname: '',
        firstname: '',
        patronymic: '',
        iin: '',
        pass: '',
        passCheck: '',
        phone: '',
        mail: '',
        userid: '',
        admin: 'false'
      },
      errorMessage: '',
      showForm: 1
    }
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser',
    }),
  },
  methods: {
    ...mapActions({
      setUser: 'user/setUser',
      setAuthorization: 'authorization/setAuthorization',
    }),
    authorize() {
      let pass = this.form.pass;
      UserRequest.authorize(this.form.mail, pass).then((response) => {
        if (response.status == 200) {

          ['firstname', 'lastname', 'mail', 'userid', 'patronymic', 'admin'].forEach((v) => {
            this.form[v] = response.data[v];
          });

          this.form['phone'] = response.data['jid'];
          this.form['iin'] = response.data['code'];
          this.setUser(this.form);
          this.setAuthorization({login: this.form.mail, pass: pass});
          UserRequest.getExtProfileInfo(this.user.userid, this.user.mail, pass).then((response) => {
            if (response.status == 200) {
              let result = response.data.result;
              if (result.length > 0) {
                this.form.address = result[0].fieldValue.address;
                this.setUser(this.form);
              }
            }
          }).catch(error => {
            console.error(error);
          })
          this.$router.push({ name: 'home' })
        }
      }).catch(error => {
        console.error(error);
      })
    },
    register() {
      UserRequest.updateOrCreate(this.form).then((response) => {
        if (response.data.errorCode > 0) {
          this.errorMessage = response.data.errorMessage;
          console.error(response);
        } else if (
          response.data.userID &&
          response.data.userID.length > 0
        ) {
          this.form['userid'] = response.data.userID
          UserRequest.addUserToGroup(this.form['userid']);
          this.setAuthorization({login: this.form.mail, pass: this.form.pass});
          this.setUser(this.form);
          this.$router.push({ name: 'home' });
        }
      }).catch(e => {
        console.error(e);
      })
    }
  },
  created() {
    if (this.user) {
      for (let key in this.form) {
        if (this.user[key]) {
          this.form[key] = this.user[key]
        }
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.user-registration {
  padding: 50px 0;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-color: #f8fbff;
}

.title {
  text-align: left;
  color: #385a64;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.field {
  margin-top: 20px;
}

.additional-margin {
  margin-top: 15px;
}

.button {
  margin-top: 10px;
}

.label {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  color: #385a64;
}

.column-right {
  margin-top: 30px;
  padding-left: 50px;
}

.user-registration-description {
  color: #829095;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.user-registration-frame {
  margin-top: 55px;
}
</style>
