<template>
  <div class="lang-picker is-flex">
    <span class="lang-picker-item activ-lang">KZ</span>
    <span class="lang-picker-item">RU</span>
  </div>
</template>

<script>
export default {
  name: 'LangPicker',
}
</script>

<style lang="scss" scoped>
  .lang-picker {
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .lang-picker-item {
    margin-left: 8px;
    position: relative;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
  }

  .activ-lang::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
  }
</style>
