<template>
  <router-link :to="{ name: 'profile' }" class="login">
    <i class="fa fa-key"></i>
    <span>Личный кабинет</span>
  </router-link>
</template>

<script>
export default {
  name: 'Login',
}
</script>

<style lang="scss" scoped>
  .login {
    cursor: pointer;
  }

  span {
    margin-left: 10px;
    font-size: 15px;
  }
</style>
