<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="#" class="navbar-item">
          Протоколы
        </a>
        <router-link :to="{name: 'map'}" class="navbar-item">
          На карте
        </router-link>
        <a href="#" class="navbar-item">
          О проекте
        </a>
        <router-link :to="{name: 'projects'}" class="navbar-item">
          Голосование
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavBar',
}
</script>

<style lang="scss" scoped>
  .navbar {
    background: transparent;
  }

  .navbar-item {
    font-family: 'Exo 2', sans-serif;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
  }
</style>
