<template>
  <div class="project-schedule">
    <div class="project-schedule-container">
      <div class="project-schedule-baseline">
        <div class="project-schedule-point point1 activ-point">
          <p class="project-schedule-point-title">
            Подача <br> проекта <br>
            <span>(до 28.10.2019)</span>
          </p>
        </div>
        <div class="project-schedule-point point2">
          <p class="project-schedule-point-title">
            Рассмотрение <br>
            <span>(до 01.11.2019)</span>
          </p>
        </div>
        <div class="project-schedule-point point3">
          <p class="project-schedule-point-title">
            Одобрение <br>
            <span>(до 03.11.2019)</span>
          </p>
        </div>
        <div class="project-schedule-point point4">
          <p class="project-schedule-point-title">
            Голосование <br>
            <span>(до 18.11.2019)</span>
          </p>
        </div>
        <div class="project-schedule-point point5">
          <p class="project-schedule-point-title">
            Реализация <br>
            <span>(до 31.12.2019)</span>
          </p>
        </div>
        <div class="data-marker">
          <p class="data-marker-title">
            Сегодня: <br>
            <span>30 октября 2019</span>
          </p>
          <img src="@/assets/icons/data-marker.png" alt="marker">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProjectSchedule',
}
</script>

<style lang="scss" scoped>
.project-schedule-baseline {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #CFCFCF;
  background-image: linear-gradient(to right, #6995C8 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%, #6995C8 100%);
}

.data-marker {
  position: absolute;
  left: 20%;
  top: -20px;
}

.data-marker-title {
  position: absolute;
  left: 0;
  top: -50px;
  width: 150px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #6995C8;
  span {
    font-weight: normal;
  }
}

.project-schedule-point {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: #9F9F9F;
  border: 3px solid #CFCFCF;
  border-radius: 50%;
}

.point2 {
  left: 25%;
}

.point3 {
  left: 45%;
}

.point4 {
  left: 65%;
}

.point5 {
  left: 85%;
}

.activ-point {
  width: 33px;
  height: 33px;
  background-color: #FFE605;
  border: 8px solid #6995C8;

  .project-schedule-point-title {
    font-size: 15px;
    line-height: 26px;
    color: #43658F;
  }
}

.project-schedule-point-title {
  margin-top: 40px;
  width: 200px;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 22px;
  color: #787878;
  span {
    font-weight: normal;
  }
}
</style>
